.header {
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;
    height: 120px;
  }
  
  .header-title {
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word;
    padding: 35%;
  }
  